@import "/src/styles/reset.scss";
@import "/src/styles/payment-methods.scss";
@import "/src/styles/promocode-input.scss";
@import "/src/styles/transactions-history.scss";

:root {
    --background-color: #202329;
    --font-color: #FFFFFF;
    --card-background-color: #30363E;
    --main-red-color: #F9484B;
    --max-width: 1200px;
    --header-height: 84px;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    margin-bottom: 100px;
}

main {
    max-width: var(--max-width);
    margin: auto;
    padding-top: var(--header-height);
}

header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0px 2px 7px 0px #0000005E;
    background-color: var(--background-color);
}

.heading {
    font-weight: 800;
    font-size: 24px;
    margin: 32px 0;
}

.subheading {
    font-weight: 800;
    font-size: 18px;
    margin: 24px 0;
}

.button {
    border-radius: 6px;
    background-color: var(--main-red-color);
    color: var(--font-color);
    margin-left: 18px;

    &:disabled {
        opacity: .5;
    }

    &--small {
        width: 152px;
        height: 42px;
    }
}