@import "/src/styles/reset.scss";
@import "/src/styles/payment-methods.scss";
@import "/src/styles/promocode-input.scss";
@import "/src/styles/transactions-history.scss";
@import "/src/styles/header.scss";
@import "/src/styles/modal.scss";

@font-face {
    font-family: Avenir;
    src: url(Avenir-Light.woff);
  }

:root {
    --background-color: #202329;
    --font-color: #FFFFFF;
    --card-background-color: #30363E;
    --transaction-border-color: #1C1A1A;
    --sidebar-menu-color: #20242A;
    --promotion-background-color: #2D69EB;
    --action-block-background-color: #4C84FF;
    --modal-background-color: #21262C;
    --label-block-background-color: #FC3D40;
    --main-red-color: #F9484B;
    --processing-label-color: #C69516;
    --active-label-color: #00BA61;
    --performed-label-color: #2658D7;
    --max-width: 1200px;
    --header-height: 84px;
}

body {
    font-family: Avenir;
    background-color: var(--background-color);
    color: var(--font-color);
    margin-bottom: 100px;
}

main {
    max-width: var(--max-width);
    margin: auto;
    padding-top: var(--header-height);
}

.heading {
    font-weight: 800;
    font-size: 24px;
    margin: 32px 0;
}

.subheading {
    font-weight: 800;
    font-size: 18px;
    margin: 24px 0;
}

.button {
    border-radius: 6px;
    background-color: var(--main-red-color);
    color: var(--font-color);
    margin-left: 18px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &:disabled {
        opacity: .5;
    }

    &--large {
        height: 48px;
        width: 100%;
        font-weight: 700;
        margin: 26px 0 0;
    }

    &--medium {
        font-size: 14px;
        font-weight: 700;
        width: 280px;
        height: 42px;
    }

    &--small {
        font-size: 16px;
        font-weight: 600;
        width: 152px;
        height: 42px;
    }
}

@media only screen and (max-width: 1280px) {
    main {
        margin: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    main {
        margin: 0 20px;
    }

    .button {
        &--large {
            height: 40px;
            margin: 20px 0 0;
        }
    }
}

@media only screen and (max-width: 500px) {
    .button {
        &--small {
            width: 100%;
            margin-left: 0;
            height: 40px;
        }

        &--medium {
            height: 40px;
            margin-left: 0px;
            width: 100%;
        }
    }
}