.payment-methods-label {
    font-size: 16px;
    font-weight: 500;
}

.payment-methods-container {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin: 32px 0;
}

.payment-method-card {
    position: relative;
    background-color: var(--card-background-color);
    border-radius: 6px;
    box-shadow: 4px 4px 5px 0px #0000000D;
    box-shadow: -5px 0px 5px 0px #00000005;
    padding: 12px;
    width: 172px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &__image {
        height: 100%;
        object-fit: scale-down;
    }

    &__title {
        padding: 5px 0;
        font-weight: 800;
    }

    &__commission {
        font-size: 12px;
        opacity: 0.5;
    }

    &__label {
        position: absolute;
        align-content: center;
        text-align: center;
        top: -7px;
        height: 17px;
        width: 76px;
        font-size: 8px;
        font-weight: 900;
        border-radius: 2px;
        box-shadow: 0px 4px 6px 0px #00000026;

        &--popular {
            background-color: var(--promotion-background-color);
        }

        &--trusted {
            background-color: var(--label-block-background-color);
        }
    }
}

@media only screen and (max-width: 768px) {
    .payment-method-card {
        width: 130px;
        height: 79px;

        &__title {
            font-size: 10px;
            font-weight: 800;
        }
    
        &__commission {
            font-size: 8px;
        }

        &__image {
            height: 30px;
        }
    }
}
