.transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 18px;

    .heading {
        margin: 0;
    }
}

.transactions-title-large {
    display: block;
}

.transactions-title-small {
    font-size: 18px;
    font-weight: 800;
    display: none;
}

.transactions-filter {
    height: 42px;
    width: 42px;
    border-radius: 4px;
    background-color: var(--card-background-color);

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    img {
        vertical-align: middle;
    }
}

.transactions-button {
    text-align: center;
    margin: 32px 0;
}

.transaction {
    display: grid;
    grid-template-columns: 48px repeat(5, 1fr);
    grid-template-rows: 48px;
    column-gap: 16px;
    grid-template-areas: "logo name number date amount status";
    border-bottom: 1px solid var(--transaction-border-color);
    padding: 18px 0;

    &__primary-text {
        font-size: 16px;
        font-weight: 800;

        &--processing {
            color: var(--processing-label-color);
        }

        &--active {
            color: var(--active-label-color);
        }

        &--performed {
            color: var(--performed-label-color);
        }
    }

    &__secondary-text {
        font-size: 14px;
        opacity: .5;
    }

    &__payment-method-logo {
        grid-area: logo;
        display: flex;
        padding: 8px;
        border-radius: 10px;
        background-color: var(--card-background-color);

        img {
            width: 100%;
            object-fit: fill;
        }
    }

    &__payment-method-name {
        grid-area: name;
    }

    &__number {
        grid-area: number;
    }

    &__payment-date {
        grid-area: date;
    }

    &__amount-payed {
        grid-area: amount;
    }

    &__operation-status {
        grid-area: status;
    }
}

.align-transaction-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .align-transaction-cell {
        padding-left: 8px;
    }

    .transactions-title-large {
        display: none;
    }

    .transactions-title-small {
        display: block;
    }

    .transactions-header {
        margin-bottom: 4px;
    }

    .transactions-filter {
        height: 24px;
        width: 24px;
        padding: 4px;
        
        img {
            height: 18px;
        }
    }

    .transaction {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 38px 32px;
        row-gap: 16px;
        column-gap: 0;
        grid-template-areas:
            "logo   logo     logo   status"
            "name number date amount"
        ;

        &__payment-method-logo {
            border-radius: 4px 0 0 4px;
            background-color: var(--card-background-color);
            // max-width: 70px;
            // width: auto;
            img {
                width: auto;
                max-width: 70px;
            }
        }

        &__operation-status {
            border-radius: 0 4px 4px 0;
            background-color: var(--card-background-color);
        }

        &__operation-status.align-transaction-cell {
            align-items: end;
            padding-right: 10px;
        }

        &__primary-text {
            font-size: 12px;
        }

        &__secondary-text {
            font-size: 10px;
            opacity: .6;
        }
    }
}

@media only screen and (max-width: 460px) {
    .transaction {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 38px 32px 32px;
        // row-gap: 16px;
        grid-template-areas:
            "logo status"
            "name amount"
            "number date"
        ;
    }
}